rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && (
        request.auth.token.email == 'amilasan_jordan@hyacinthindustriesllc.com' ||
        firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == 'admin'
      );
    }

    match /companies/{companyId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }
  }
}
